@import url("css/style-theme.css");
html, body
{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
	background:#ffffff;
	font-family:'dinlightwebfont';
	font-size:14px;
	line-height:18px;
	color:#3c3c3e;
}

@font-face 
{
	font-family:'dinlightwebfont';
	src:url('fonts/dinlightwebfont.eot');
	src:local('dinlightwebfont'), 
	    url('fonts/dinlightwebfont.woff') format('woff'),
		  url('fonts/dinlightwebfont.ttf') format('truetype');
}

@font-face 
{
	font-family:'dinregularwebfont';
	src:url('fonts/dinregularwebfont.eot');
	src:local('dinregularwebfont'), 
	    url('fonts/dinregularwebfont.woff') format('woff'),
		  url('fonts/dinregularwebfont.ttf') format('truetype');
}

@font-face 
{
	font-family:'dinboldwebfont';
	src:url('fonts/dinboldwebfont.eot');
	src:local('dinboldwebfont'), 
	    url('fonts/dinboldwebfont.woff') format('woff'),
		  url('fonts/dinboldwebfont.ttf') format('truetype');
}

div, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, select, input, textarea, img, dl, dt, dd, table, div, td, theder, button, blockquote, article, aside, audio, canvas, command, datalist, details, figcaption, figure, footer, header, hgroup, keygen, mark, menu, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, video, wbr
{
  padding:0px;
  margin:0px;
}

article, aside, audio, canvas, command, datalist, details, figcaption, figure, footer, header, hgroup, keygen, mark, menu, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, video, wbr, address
{
  display:block;
  font-style:normal;
}

h1, h2, h3, h4, h5, h6
{
  font-family:'dinboldwebfont';
	font-weight:normal;
	line-height:normal;
	color:#2c4aa0;
}

h1
{
  font-size:45px;
}

h2
{
  font-size:35px;
	color:#2c4aa0;
}

h3
{
  font-size:35px;
	color:#ca2128;
}

h4
{
  font-size:35px;
	color:#45873f;
}

h5
{
  font-size:28px;
	color:#2c4aa0;
}

h6
{
  font-size:28px;
	color:#ca2128;
}

strong
{
  font-family:'dinboldwebfont';
}

img.aligncenter
{
  margin:0 auto;
	display:block;
}

img.alignleft
{
  margin:5px 20px 10px 0px;
	float:left;
	display:block;
}

img.alignroght
{
  margin:5px 0px 10px 20px;
	float:right;
	display:block;
}

img
{
  border:none;
}

p
{
	padding:5px 0px 16px 0px;
}

p span
{
	color:#000034;
}

ul, 
ol
{
	padding:9px 0px 9px 19px;
}

ul ul, 
ol ol
{
	padding:0px 0px 0px 12px;
}

ul
{
  list-style:disc;
}

ol ol
{
  list-style: upper-alpha;
}

a
{
	color:#2c4aa0;
	text-decoration:underline;
}

a:hover
{
	color:#2c4aa0;
	text-decoration:none;
}

.jq-checkbox,
.jq-radio 
{
	width:13px;
	height:13px;
	margin:2px 5px 0px 0px;
	background:-35px -26px url(images/sprite.png) no-repeat;
	cursor:pointer;
	position:relative;
	float:left;
	clear:left;
}

.jq-checkbox.checked span,
.jq-radio.checked span 
{
	width:5px;
	height:5px;
	margin:-3px 0px 0px -3px;
	display:block;
	background:#000000;
	position:absolute;
	top:50%;
	left:50%;
}

div.nav-previous
{
  float:left;
}

div.nav-next
{
  float:right;
}

form.search-form
{
  width:206px;
	height:29px;
	border:3px solid #919093;
	border-radius:19px;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	background:0px 0px url(images/bg_img_08.gif) repeat-x;
	position:relative;
}

form.search-form span.txt
{
  width:148px;
	padding:0px 0px 0px 29px;
	float:left;
	display:block;
	position:relative;
}

form.search-form span.txt:before
{
  width:15px;
	height:16px;
	margin:-8px 0px 0px 0px;
	display:block;
	content:"";
	background:-19px -26px url(images/sprite.png) no-repeat;
	position:absolute;
	top:50%;
	left:10px;
}

form.search-form span.txt input
{
  width:148px;
	height:29px;
	display:block;
	float:left;
	border:none;
	background:none;
  font-family:'dinlightwebfont';
	font-size:12px;
	line-height:29px;
	color:#919093;
	position:relative;
	z-index:10000;
}

form.search-form input.submit
{
  width:18px;
	height:18px;
	margin:5px 5px 0px 0px;
	display:block;
	float:right;
	border:none;
	background:0px -26px url(images/sprite.png) no-repeat;
	text-indent:-9999em;
	overflow:hidden;
	position:relative;
	cursor:pointer;
}

/* cf */
.cf:before, 
.cf:after
{
  content:"";
  display:block;
  overflow:hidden;
}

.cf:after
{
  clear:both;
}

.clear
{
  width:100%;
	height:1px;
	display:block;
	text-indent:-9999em;
	overflow:hidden;
	position:relative;
	clear:both;
}

div.global-box
{
  width:100%;
	min-width:998px;
	position:relative;
	overflow:hidden;
}

div.center-box
{
  width:998px;
	margin:0 auto;
	position:relative;
	z-index:10;
}

/* ---------- HEADER ---------- */
header#header
{
  background:#ffffff;
  position:relative;
	z-index:3;
}

header#header div.center-box
{
  height:150px;
}

header#header:before,
header#header:after
{
  width:50%;
	height:100%;
	display:block;
	content:"";
	position:absolute;
	top:0px;
}

header#header:before
{
  margin:0px 0px 0px -499px;
  background:right top url(images/bg_img_02.png) repeat-y #cccccc;
	left:0px;
}

header#header:after
{
  margin:0px -499px 0px 0px;
  background:0px 0px url(images/bg_img_01.png) repeat-y #cccccc;
	right:0px;
}

h1.logo
{
  width:281px;
	height:86px;
	margin:0px;
	padding:0px;
	position:absolute;
	top:35px;
	left:32px;
}

h1.logo a
{
  width:281px;
	height:86px;
	display:block;
	background:0px 0px url(images/logo.png) no-repeat;
	text-indent:-9999em;
	position:relative;
	overflow:hidden;
}

div.phone-header
{
  padding:49px 43px 0px 0px;
  float:right;
	font-family:'dinregularwebfont';
	font-size:30px;
	line-height:31px;
	color:#3c3c3e;
}

div.phone-header-home
{
  padding:50px 55px 0px 0px;
  float:right;
	font-family:'dinregularwebfont';
	font-size:26px;
	line-height:31px;
	color:#3c3c3e;
}

div.phone-header-home p
{
  padding:0px 0px 0px 0px;
	float:left;
}

ul.share-header
{
  width:60px;
	margin:0px;
	padding:1px 0px 0px 12px;
	float:right;
	list-style:none;
}

ul.share-header li
{
  padding:0px 0px 0px 5px;
	float:left;
}

ul.share-header li a
{
  width:25px;
	height:25px;
	display:block;	
	text-indent:-9999em;
	position:relative;
	overflow:hidden;
}

ul.share-header li.pinterest a
{
  background:0px 0px url(images/sprite.png) no-repeat;
}

ul.share-header li.facebook a
{
  background:-26px 0px url(images/sprite.png) no-repeat;
}

div.bottom-header
{
  height:43px;
	margin:0px 0px 0px 54px;
	background:0px 0px url(images/bg_img_04.gif) repeat;
	position:absolute;
	bottom:0px;
	right:16px;
	z-index:10;
}

div.bottom-header:after
{
  width:48px;
	height:43px;
	display:block;
	content:"";
	background:-108px 0px url(images/bg_sprite.png) no-repeat;
	position:absolute;
	top:0px;
	right:0px;
	z-index:1;
}

div.btn-freequote
{
  width:205px;
	height:34px;
	margin:0px 52px 0px 0px;
	padding:9px 0px 0px 0px;
	float:left;
	background:0px 0px url(images/bg_img_03.png) repeat-x;
	font-family:'dinboldwebfont';
	font-size:20px;
	line-height:20px;
	color:#FFFFFF;
	position:relative;
	z-index:5;
}

div.btn-freequote:before,
div.btn-freequote:after
{
  height:43px;
	display:block;
	content:"";
	position:absolute;
	top:0px;
}

div.btn-freequote:before
{
  width:54px;
	background:0px 0px url(images/bg_sprite.png) no-repeat;
	left:-54px;
}

div.btn-freequote:after
{
  width:52px;
	background:-55px 0px url(images/bg_sprite.png) no-repeat;
	right:-52px;
}

div.btn-freequote a
{
  color:#FFFFFF;
	text-decoration:none;
	text-shadow:-1px -1px 3px #9b3f0c;
}

div.searchform-box
{
  width:213px;
  margin:0px 0px 0px -12px;
	padding:6px 37px 0px 0px;
  float:left;
	position:relative;
	z-index:3;
}
/* ---------- end HEADER ---------- */


/* ---------- MENU ---------- */
nav.main-menu
{
  height:40px;
	background:0px 0px url(images/bg_img_04.gif) repeat;
	font-family:'dinregularwebfont';
	font-size:17px;
	line-height:17px;
	text-transform:uppercase;
	position:relative;
}

nav.main-menu:before
{
  width:100%;
	height:100%;
	display:block;
	content:"";
	background:left bottom url(images/bg_img_07.png) repeat-x;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
}

nav.main-menu > ul
{
  width:998px;
	margin:0 auto;
	padding:0px;
	list-style:none;
	position:relative;
	z-index:2;
}

nav.main-menu > ul > li
{
  padding:0px 0px 0px 0px;
	float:left;
	position:relative;
}

nav.main-menu > ul > li:first-child
{
  padding-left:21px;
}

nav.main-menu > ul > li > a
{
  height:27px;
  padding:13px 9px 0px 9px;
	display:block;
	color:#ffffff;
	text-decoration:none;
	text-shadow:-1px -1px 3px #000000;	
}

nav.main-menu > ul > li > a:hover,
nav.main-menu > ul > li.current_page_item > a,
nav.main-menu > ul > li.current_page_parent > a,
nav.main-menu > ul > li.current_page_ancestor > a
{
  background:#ec6a20;
  color:#FFFFFF;
	text-decoration:none;
}
/* ---------- end MENU ---------- */



/* ---------- FOOTER ---------- */
footer#footer
{
  width:998px;
	margin:0 auto;
  padding:27px 0px 30px 0px;
	font-family:'dinregularwebfont';
  font-size:15px;
	line-height:19px;
	color:#58585a;
  position:relative;
	z-index:1;
}

div.logo-footer
{
  width:189px;
	height:58px;
	margin:4px 36px 0px 0px;
	padding:0px;
	float:left;
	position:relative;
}

div.logo-footer a
{
  width:189px;
	height:58px;
	display:block;
	background:0px 0px url(images/logo_footer.png) no-repeat;
	text-indent:-9999em;
	position:relative;
	overflow:hidden;
}

div.address-footer
{
  width:188px;
	padding:9px 14px 0px 0px;
	float:left;
}

div.address-footer p
{
  padding:0px 0px 0px 0px;
}

ul.share-footer
{
  width:161px;
	margin:0px;
	padding:11px 0px 0px 0px;
	float:left;
	list-style:none;
}

ul.share-footer li
{
  padding:0px 5px 0px 0px;
	float:left;
}

ul.share-footer li a
{
  width:25px;
	height:25px;
	display:block;	
	text-indent:-9999em;
	position:relative;
	overflow:hidden;
}

ul.share-footer li.pinterest a
{
  background:0px 0px url(images/sprite.png) no-repeat;
}

ul.share-footer li.facebook a
{
  background:-26px 0px url(images/sprite.png) no-repeat;
}

div.cart-footer
{
  width:321px;
	padding:0px 9px 0px 0px;
	float:right;
}

div.cart-footer h3
{
  margin:0px;
	padding:8px 0px 0px 0px;
  float:left;
	font-family:'dinlightwebfont';
	font-size:15px;
	line-height:19px;
	color:#323132;
}

div.cart-footer ul
{
  margin:0px;
	padding:0px;
	list-style:none;
	float:right;
}

div.cart-footer ul li
{
  padding:0px 8px 0px 0px;
	float:left;
}

div.cart-footer img
{
  display:block;
}
/* ---------- end FOOTER ---------- */



/* ---------- CONTENT ---------- */
section#content-section
{
  min-height:300px;
  background:0px 0px url(images/bg_img_06.gif) repeat;
  position:relative;
	z-index:2;
}

/* ------- home page ------- */
div.tophome-page
{
  height:328px;
	background:#ec6a20;
	font-family:'dinboldwebfont';
	font-size:54px;
	line-height:47px;
	text-shadow:-1px -1px 3px #9b3f0c;
	text-transform:uppercase;
	color:#ffffff;
	position:relative;
}

div.tophome-page aside
{
  width:100%;
	height:328px;
	position:relative;
	overflow:hidden;
}

div.tophome-page ul
{
  margin:0px;
	padding:0px;
	list-style:none;
}

div.tophome-page li
{
  width:100%;
  height:328px;
	position:absolute;
	top:0px;
	left:0px;
}

div.tophome-page figure
{
  width:998px;
	margin:0 auto;
	position:relative;
}

div.tophome-page figure:before,
div.tophome-page figure:after
{
  width:206px;
	height:328px;
	display:block;
	content:"";
	position:absolute;
	top:0px;
	left:50%;
	z-index:2;
}

div.tophome-page figure:before
{
	margin:0px 0px 0px -377px;
	background:#ec6a20;
}

div.tophome-page figure:after
{
	margin:0px 0px 0px -171px;
	background:right top url(images/bg_img_11.png) no-repeat;
}

div.tophome-page img
{
  display:block;
	position:absolute;
	top:0px;
	right:-287px;
	z-index:1;
}

div.tophome-page figcaption
{
  width:364px;
	height:328px;
	padding:0px 150px 0px 22px;
	position:relative;
	z-index:3;
}

div.tophome-page h3
{
  height:328px;
	margin:0px -206px 0px 0px;
	display:table-cell;
	vertical-align:middle;
	font-family:'dinboldwebfont';
	font-size:54px;
	line-height:47px;
	text-shadow:-1px -1px 3px #9b3f0c;
	text-transform:uppercase;
	color:#ffffff;
}

article.post-home
{
  width:300px;
	padding:55px 0px 17px 23px;
	float:left;
	font-size:14px;
	line-height:19px;
	color:#3c3c3e;
	position:relative;
}

article.post-home h1
{
  margin:0px;
	padding:0px 0px 7px 0px;
	font-size:25px;
	line-height:25px;
	color:#ec6a20;
	text-transform:uppercase;
}

article.post-home p
{
  padding:0px 0px 0px 0px;
}

aside.sidebar-home
{
  width:643px;
	padding:35px 0px 17px 0px;
	float:right;
	position:relative;
}

div.widget-mobileshowroom
{
  width:260px;
	padding:8px 0px 0px 6px;
	float:left;
	font-size:19px;
	line-height:19px;
	color:#3c3c3e;
	position:relative;
}

div.widget-mobileshowroom h3
{
  width:242px;
	margin:0px 0px 0px 3px;
	position:relative;
}

div.widget-mobileshowroom h3 img
{
  width:100%;
  display:block;
}

/* div.widget-mobileshowroom h3
{
  width:242px;
  margin:0px 0px 0px 3px;
  padding:52px 0px 10px 0px;
	background:0px 0px url(images/bg_img_10.png) no-repeat;
  font-family:'dinlightwebfont';
  font-size:42px;
	line-height:35px;
	color:#3c3c3e;
	text-transform:uppercase;
	letter-spacing:-2px;
	position:relative;
}

div.widget-mobileshowroom h3 strong
{
  display:block;
  font-family:'dinboldwebfont';
	font-size:43px;
}

div.widget-mobileshowroom h3 span
{
  display:block;
  font-size:35px;
	line-height:36px;
}

div.widget-mobileshowroom h3:after
{
  width:100%;
	height:2px;
	display:block;
	content:"";
	background:0px 0px url(images/border_01.png) repeat-x;
	position:absolute;
	bottom:0px;
	left:0px;
} */

div.widget-mobileshowroom ul
{
  margin:0px;
	padding:11px 0px 0px 0px;
	list-style:none;
}

div.widget-mobileshowroom ul li
{
  padding:1px 0px 16px 36px;
	position:relative;
}

div.widget-mobileshowroom ul li:before
{
  width:23px;
	height:24px;
	display:block;
	content:"";
	background:-51px 0px url(images/sprite.png) no-repeat;
	position:absolute;
	top:0px;
	left:0px;
}

div.widget-mobileshowroom ul li a
{
  color:#3c3c3e;
	text-decoration:none;
}

div.widget-middlemodules
{
  width:325px;
	padding:0px 0px 0px 6px;
	float:right;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	color:#ec6a20;
	position:relative;
}

div.widget-middlemodules ul
{
  margin:0px;
	padding:0px;
	list-style:none;
}

div.widget-middlemodules ul li
{
  padding:0px 0px 14px 0px;
}

div.widget-middlemodules img
{
  margin:0px 0px 7px 0px;
  display:block;
}

div.widget-middlemodules strong
{
  margin:0px 3px 0px 0px;
  padding:0px 10px 0px 0px;
  position:relative;
}

div.widget-middlemodules strong:after
{
  width:6px;
	height:11px;
	display:block;
	content:"";
	background:-49px -26px url(images/sprite.png) no-repeat;
	position:absolute;
	top:4px;
	right:0px;
}

div.widget-middlemodules a.more
{
  color:#3c3c3e;
	text-decoration:underline;
}

div.widget-middlemodules a.more:hover
{
  color:#3c3c3e;
	text-decoration:none;
}

div.widget-testimonials
{
  padding:9px 0px 0px 0px;
	font-size:15px;
	line-height:22px;
	color:#3c3c3e;
	clear:both;
}

div.widget-testimonials h3
{
  margin:0px;
	padding:0px 0px 18px 4px;
	font-size:25px;
	line-height:25px;
	color:#ec6a20;
	text-transform:uppercase;
}

div.widget-testimonials ul
{
  margin:0px;
	padding:0px;
	list-style:none;
}

div.widget-testimonials ul li
{
  padding:0px 0px 17px 7px;
	float:left;
}

div.widget-testimonials ul li:first-child
{
  padding-left:0px;
}

div.widget-testimonials blockquote
{
  width:263px;
	height:97px;
	padding:26px 30px 20px 25px;
	background:0px 0px url(images/bg_img_09.png) repeat;
	-webkit-border-radius:30px 0px 30px 0px;
  -moz-border-radius:30px 0px 30px 0px;
  border-radius:30px 0px 30px 0px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
	position:relative;
}

div.widget-testimonials blockquote:after
{
  width:10px;
	height:17px;
	display:block;
	content:"";
	background:-75px 0px url(images/sprite.png) no-repeat;
	position:absolute;
	bottom:-17px;
	right:76px;
}

div.widget-testimonials p
{
  padding:0px 0px 10px 16px;
	position:relative;
}

div.widget-testimonials p:before,
div.widget-testimonials p:after
{
  width:12px;
	height:9px;
	display:block;
	content:"";
	position:absolute;
	top:0px;
}

div.widget-testimonials p:before
{
  background:-56px -25px url(images/sprite.png) no-repeat;
	left:0px;
}

div.widget-testimonials p:after
{
  margin:0px 0px 0px 3px;
  display:inline-block;
  background:-56px -35px url(images/sprite.png) no-repeat;
	position:relative;
	top:-6px;
}

div.widget-testimonials h4
{
  margin:0px;
	padding:0px 0px 0px 16px;
	font-family:'dinboldwebfont';
	font-size:12px;
	font-style:normal;
	line-height:12px;
	color:#ec6a20;
	text-transform:uppercase;
}
/* ------- end home page ------- */

/* ------- about page ------- */
div.topdefault-page
{
  height:199px;
	background:#ec6a20;
	font-family:'dinregularwebfont';
	font-size:22px;
	line-height:27px;
	text-shadow:-1px -1px 3px #9b3f0c;
	color:#ffffff;
	position:relative;
}

div.topdefault-page figure
{
  width:998px;
	margin:0 auto;
	position:relative;
}

div.topdefault-page figure:before,
div.topdefault-page figure:after
{
  width:126px;
	height:199px;
	display:block;
	content:"";
	position:absolute;
	top:0px;
	left:50%;
	z-index:2;
}

div.topdefault-page figure:before
{
	margin:0px 0px 0px -217px;
	background:#ec6a20;
}

div.topdefault-page figure:after
{
	margin:0px 0px 0px -91px;
	background:right top url(images/bg_img_11.png) no-repeat;
}

div.topdefault-page img
{
  display:block;
	position:absolute;
	top:0px;
	right:-287px;
	z-index:1;
}

div.topdefault-page figcaption
{
  width:364px;
	height:199px;
	padding:0px 150px 0px 22px;
	position:relative;
	z-index:3;
}

div.topdefault-page h3
{
  height:199px;
	margin:0px -206px 0px 0px;
	display:table-cell;
	vertical-align:middle;
	font-family:'dinregularwebfont';
	font-size:26px;
	line-height:31px;
	text-shadow:-1px -1px 3px #9b3f0c;
	text-transform:uppercase;
	color:#ffffff;
}

div.topdefault-page p
{
  height:199px;
	margin:0px -206px 0px 0px;
	padding:0px;
	display:table-cell;
	vertical-align:middle;
}

article.post-about
{
  width:352px;
	padding:62px 0px 17px 25px;
	float:left;
	font-size:14px;
	line-height:18px;
	color:#3c3c3e;
	position:relative;
}

article.post-about h3
{
  margin:0px;
	padding:0px 0px 0px 0px;
	font-size:17px;
	line-height:19px;
	color:#ec6a20;
	text-transform:uppercase;
}

article.post-about p
{
  padding:2px 0px 16px 0px;
}

aside.sidebar-about
{
  width:571px;
	padding:35px 0px 17px 0px;
	float:right;
	position:relative;
}

aside.sidebar-about div.widget-mobileshowroom
{
  width:auto;
	padding:33px 0px 0px 6px;
	float:none;
	font-size:18px;
	line-height:18px;
	color:#3c3c3e;
	position:relative;
}

aside.sidebar-about div.widget-mobileshowroom h3
{
  width:276px;
  margin:12px 0px 0px 0px;
	float:left;
	position:relative;
}

/* aside.sidebar-about div.widget-mobileshowroom h3
{
  width:276px;
  margin:12px 0px 0px 0px;
  padding:60px 0px 12px 0px;
	float:left;
	background:0px 0px url(images/bg_img_12.png) no-repeat;
  font-family:'dinlightwebfont';
  font-size:48px;
	line-height:39px;
	color:#3c3c3e;
	text-transform:uppercase;
	letter-spacing:-1px;
	position:relative;
}

aside.sidebar-about div.widget-mobileshowroom h3 strong
{
  display:block;
  font-family:'dinboldwebfont';
	font-size:49px;
}

aside.sidebar-about div.widget-mobileshowroom h3 span
{
  display:block;
  font-size:41px;
	line-height:42px;
}

aside.sidebar-about div.widget-mobileshowroom h3:after
{
  width:100%;
	height:3px;
	display:block;
	content:"";
	background:0px 0px url(images/border_02.png) repeat-x;
	position:absolute;
	bottom:0px;
	left:0px;
}*/

aside.sidebar-about div.widget-mobileshowroom ul
{
  width:247px;
  margin:0px;
	padding:0px 0px 0px 0px;
	float:right;
	list-style:none;
}

aside.sidebar-about div.widget-mobileshowroom ul li
{
  padding:3px 0px 15px 33px;
	position:relative;
}

div.widget-video
{
  padding:44px 0px 0px 0px;
	clear:both;
	position:relative;
}

div.widget-video div.video-box
{
  margin:0px 0px 8px 0px;
}

div.widget-video a.more
{
	font-family:'dinboldwebfont';
	font-size:14px;
	line-height:14px;
	color:#ec6a20;
	text-decoration:none;
	text-transform:uppercase;
}
/* ------- end about page ------- */


/* ------- testimonials page ------- */
ul.testimonials-list
{
  margin:0px;
	padding:32px 0px 32px 0px;
	list-style:none;
	font-size:16px;
	line-height:18px;
	color:#3c3c3e;
}

ul.testimonials-list > li
{
  padding:18px 0px 14px 0px;
	border-top:1px solid #c9ccc6;
}

ul.testimonials-list > li:first-child
{
  border-top:none;
}

ul.testimonials-list figure
{
  width:39px;
	padding:0px 12px 0px 0px;
	float:left;
}

ul.testimonials-list img
{
  display:block;
}

ul.testimonials-list div.name
{
  width:137px;
	padding:0px 12px 0px 0px;
	float:left;
}

ul.testimonials-list ul.star-list
{
  margin:0px;
	padding:1px 0px 4px 0px;
	list-style:none;
}

ul.testimonials-list ul.star-list li
{
  width:13px;
  padding:0px 2px 0px 0px;
	float:left;
}

ul.testimonials-list h3
{
  margin:0px;
	padding:0px 0px 0px 5px;
	font-family:'dinboldwebfont';
	font-size:17px;
	line-height:17px;
	color:#383837;
}

ul.testimonials-list div.txt
{
  width:740px;
	padding:16px 0px 0px 0px;
	float:left;
}

ul.testimonials-list p
{
  padding:0px 0px 0px 0px;
}
/* ------- end testimonials page ------- */


/* ------- contact page ------- */
div.contact-page
{
  padding:13px 0px 23px 0px;
}

div.contact-page div.space
{
  width:20px;
	display:table-cell;
	vertical-align:top;
}

aside.sidebar-contact
{
  width:251px;
	padding:48px 28px 27px 36px;
	display:table-cell;
	vertical-align:top;
	background:#ffffff;
	font-family:'dinregularwebfont';
	font-size:17px;
	line-height:21px;
	color:#58585a;
}

aside.sidebar-contact p
{
  padding:0px 0px 0px 0px;
}

aside.sidebar-contact strong
{
  font-family:'dinboldwebfont';
}

aside.sidebar-contact div.widget-mobileshowroom
{
  width:auto;
	padding:0px 0px 18px 6px;
	float:none;
	font-family:'dinlightwebfont';
	font-size:19px;
	line-height:19px;
	color:#3c3c3e;
	position:relative;
}

aside.sidebar-contact div.widget-mobileshowroom h3
{
  width:auto;
	margin:0px 0px 22px 3px;
	position:relative;
}

div.right-contact
{
  width:495px;
	padding:41px 84px 43px 82px;
	display:table-cell;
	vertical-align:top;
	background:#ffffff;
}

article.contact-post
{
	position:relative;
}

article.contact-post h2
{
  margin:0px;
	padding:0px 0px 21px 0px;
	font-family:'dinlightwebfont';
	font-size:31px;
	line-height:31px;
	text-transform:uppercase;
	letter-spacing:-2px;
	color:#3c3c3e;
}

article.contact-post h2 strong
{
  font-family:'dinboldwebfont';
}

div.contact-form
{
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	color:#303031;
}

div.contact-form div.line-form
{
  padding:14px 0px 14px 0px;
}

div.contact-form div.line-checkbox
{
  padding:21px 0px 5px 0px;
}

div.contact-form p
{
  padding:6px 0px 0px 0px;
}

div.contact-form div.line-form p
{
  width:153px;
  padding:0px 0px 0px 18px;
	float:left;
}

div.contact-form div.line-form p:first-child
{
  padding-left:0px;
}

div.contact-form label
{
  padding:0px 0px 6px 0px;
	display:block;
}

div.contact-form span.wpcf7-form-control-wrap
{
  display:block;
	float:left;
	position:relative;
}

/* div.contact-form p span.wpcf7-form-control-wrap:before,
div.contact-form p span.wpcf7-form-control-wrap:after
{
	height:100%;
	display:block;
	content:"";
	position:absolute;
	top:4px;
	z-index:2;
}

div.contact-form p span.wpcf7-form-control-wrap:before
{
  width:8px;
  background:0px 0px url(images/bg_img_14.gif) repeat-y;
	left:0px;
}

div.contact-form p span.wpcf7-form-control-wrap:after
{
  width:6px;
  background:0px 0px url(images/bg_img_12.gif) repeat-y;
	right:0px;
} */

div.contact-form span input,
div.contact-form textarea
{
  width:133px;
	height:17px;
	padding:3px 10px 3px 10px;
	display:block;
	border:none;
	background:#FFFFFF;
	-moz-box-shadow:inset 1px 1px 5px #c1bfbf;
  -webkit-box-shadow:inset 1px 1px 5px #c1bfbf;
  box-shadow:inset 1px 1px 5px #c1bfbf;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#303031;
	position:relative;
	z-index:1;
}

div.contact-form span.wpcf7-not-valid-tip
{
  width:100%;
	height:100%;
	padding:3px 5px 3px 5px;
	display:block;
	border:1px solid #FF0000;
	background:#FFFFFF;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:17px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
}

div.contact-form span input.wpcf7-captchar
{
  width:177px;
	height:40px;
	float:left;
	line-height:14px;
}

div.contact-form textarea
{
  width:475px;
	height:77px;
	line-height:14px;
}

div.contact-form span.wpcf7-list-item
{
  padding:0px 20px 0px 0px;
	display:block;
  float:left;
	position:relative;
}

div.contact-form span.wpcf7-list-item-label
{
  float:right;
}

div.contact-form img.wpcf7-captchac
{
  margin:0px 27px 0px 0px;
	display:block;
	float:left;
	position:relative;
}

div.contact-form div.submit
{
  padding:9px 0px 10px 0px;
	font-size:11px;
	position:relative;
}

div.contact-form input.wpcf7-submit
{
  height:25px;
	margin:0px 13px 0px 0px;
	padding:0px 20px 0px 20px;
	float:left;
	border:none;
	background:#f4830e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bolder;
	line-height:25px;
	color:#FFFFFF;
	cursor:pointer;
}

div.contact-form div.submit span
{
  float:left;
	line-height:25px;
}

div.contact-form img.ajax-loader
{
  display:none;
}
/* ------- end contact page ------- */


/* ------- page ------- */
div.product-page
{
  padding:20px 0px 23px 0px;
}

div.product-page div.space
{
  width:26px;
	display:table-cell;
	vertical-align:top;
}

aside.sidebar-product
{
  width:269px;
	padding:31px 7px 27px 7px;
	display:table-cell;
	vertical-align:top;
	background:#ffffff;
}

div.widget-img
{
  padding:0px 0px 33px 0px;
}

div.widget-img img
{
  margin:0 auto;
	display:block;
}

nav.widget-menu
{
  padding:0px 0px 7px 0px;
	font-size:14px;
	line-height:18px;
	color:#3c3c3e;
	text-transform:uppercase;
}

nav.widget-menu h3
{
  padding:5px 23px 8px 23px;
	background:0px 0px url(images/bg_img_04.gif) repeat;
	font-family:'dinboldwebfont';
	font-size:17px;
	line-height:19px;
	color:#ffffff;
	text-transform:uppercase;
}

nav.widget-menu ul
{
  margin:0px;
	padding:6px 10px 0px 18px;
	list-style:none;
	position:relative;
}

nav.widget-menu ul li
{
  padding:0px 5px 0px 5px;
	border-bottom:1px dotted #a3a3a3;
	position:relative;
}

nav.widget-menu ul li a
{
  padding:0px 0px 0px 9px;
  color:#3c3c3e;
	text-decoration:none;
	position:relative;
}

nav.widget-menu ul li a:before
{
  width:6px;
	height:11px;
	display:block;
	content:"";
	background:-49px -26px url(images/sprite.png) no-repeat;
	position:absolute;
	top:4px;
	left:0px;
}

nav.widget-menu ul li a:hover,
nav.widget-menu ul li a.active
{
  color:#ec6a20;
	text-decoration:none;
}

div.right-product
{
  width:687px;
	padding:0px 0px 4px 0px;
	display:table-cell;
	vertical-align:top;
	background:#ffffff;
}

div.padding-top91
{
  min-height:704px;
  padding-top:91px;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position:relative;
}

div.padding-top278
{
  min-height:704px;
  padding-top:278px;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	position:relative;
}

div.logo-product
{
  position:absolute;
	top:12px;
	right:30px;
	z-index:10;
}

div.logo-product img
{
  display:block;
}

.post-product
{
  margin:49px 0px 0px 0px;
	background:#FFFFFF;
  position:relative;
	z-index:2;
}

header.tit-product
{
  margin:-49px 0px 0px 0px;
}

header.tit-product h1
{
  min-width:228px;
  margin:0px 49px 0px 0px;
	padding:19px 24px 17px 24px;
	display:inline-block;
	background:#FFFFFF;
  font-family:'dinlightwebfont';
  font-size:31px;
	line-height:31px;
	color:#3c3c3e;
	text-transform:uppercase;
	position:relative;
}

header.tit-product h1.small
{
	padding:26px 24px 14px 24px;
  font-size:24px;
	line-height:24px;
}

header.tit-product h1:after
{
  width:49px;
	height:49px;
	display:block;
	content:"";
	background:0px 0px url(images/bg_img_10.png) no-repeat;
	position:absolute;
	top:0px;
	right:-49px;
}

article.full-post
{
  padding-bottom:14px;
}

article.full-post div.img
{
  width:135px;
	padding:25px 0px 35px 26px;
	float:left;
	position:relative;
}

article.full-post div.img figure
{
  padding:0px 0px 12px 0px;
}

article.full-post div.img figure.small-img
{
  padding:0px 0px 32px 0px;
}

article.full-post img
{
  display:block;
}

article.full-post div.txt
{
  width:478px;
	padding:0px 20px 0px 0px;
	float:right;
	position:relative;
}

article.full-post p
{
  padding:18px 0px 0px 0px;
}

article.full-post ul
{
  width:80%;
  padding:0px;
	margin:0px;
	list-style:none;
}

article.full-post ul li
{
  margin:0px 5px 0px 0px;
  padding:0px 0px 0px 11px;
	display:inline-block;
  position:relative;
}

article.full-post ul li:before
{
  width:5px;
	height:5px;
	display:block;
	content:"";
	background:#3c3c3e;
	-webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
	position:absolute;
	top:7px;
	left:0px;
}

article.full-post footer
{
  padding:0px 0px 0px 23px;
	position:absolute;
	bottom:15px;
	left:0px;
}

article.full-post a.btn-enquiry
{
  padding:5px 0px 3px 30px;
	display:block;
	font-size:14px;
	line-height:14px;
	color:#3c3c3e;
	text-decoration:underline;
	position:relative;
}

article.full-post a.btn-enquiry:hover
{
  text-decoration:none;
}

article.full-post a.btn-enquiry:before
{
  width:23px;
	height:24px;
	display:block;
	content:"";
	background:-51px 0px url(images/sprite.png) no-repeat;
	position:absolute;
	top:0px;
	left:0px;
}

ul.smallpost-list
{
  margin:0px;
	padding:0px 0px 7px 0px;
	list-style:none;
}

ul.smallpost-list li article
{
  margin:0px 33px 0px 26px;
  padding:15px 0px 15px 0px;
	border-top:1px dotted #a3a3a3;
	position:relative;
}

ul.smallpost-list li:first-child article
{
  padding-top:5px;
  border-top:none;
}

ul.smallpost-list figure.img
{
  width:135px;
	padding:3px 0px 3px 0px;
	float:left;
	position:relative;
	overflow:hidden;
}

ul.smallpost-list figure.img img
{
  width:100%;
  display:block;
}

ul.smallpost-list div.txt
{
  width:466px;
	padding:0px 0px 0px 0px;
	float:right;
}

ul.smallpost-list h2
{
  height:20px;
	margin:0px 0px 1px 0px;
  padding:0px 0px 0px 0px;
  font-family:'dinboldwebfont';
  font-size:17px;
	line-height:20px;
	color:#ec6a20;
	text-transform:uppercase;
	position:relative;
	overflow:hidden;
}

ul.smallpost-list h2 a
{
  color:#ec6a20;
	text-decoration:none;
}

ul.smallpost-list p
{
	min-height:77px;
	max-height:106px;
  padding:0px 0px 0px 0px;
	position:relative;
	overflow:hidden;
}

ul.smallpost-list a.btn-enquiry
{
  margin:5px 0px 0px -2px;
  padding:5px 0px 3px 30px;
	display:block;
	float:left;
	font-size:14px;
	line-height:14px;
	color:#3c3c3e;
	text-decoration:underline;
	position:relative;
}

ul.smallpost-list a.btn-enquiry:hover
{
  text-decoration:none;
}

ul.smallpost-list a.btn-enquiry:before
{
  width:23px;
	height:24px;
	display:block;
	content:"";
	background:-51px 0px url(images/sprite.png) no-repeat;
	position:absolute;
	top:0px;
	left:0px;
}

ul.smallpost-list footer figure
{
  padding:6px 0px 0px 0px;
  float:right;
}

ul.smallpost-list footer figure img
{
  margin:0px 0px 0px 13px;
  display:block;
	float:left;
}

ul.logos-bottom
{
  width:100%;
  margin:0px 0px 0px 0px;
	padding:21px 11px 10px 21px;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	list-style:none;
	background:#ffffff;
	position:absolute;
	bottom:0px;
	left:0px;
}

ul.logos-bottom li
{
  padding:8px 6px 5px 7px;
	display:inline-block;
}

ul.logos-bottom img
{
  display:block;
}
/* ------- end page ------- */
/* ---------- end CONTENT ---------- */

textarea, 
.jq-checkbox,
.jq-radio, 
div.enewsletter-home input.txt,
div.widget-newsletter input.txt, 
div.comments-form input.txt,
div.comments-form textarea
{
	behavior:url(/wp-content/themes/ABBEY/js/PIE.htc);
}

